{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>alcher web page</title>

    <link href="{% static 'blog/main.css' %}" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="top">

        <nav>
            <a href="{% url 'blog-home' %}"><img src="{% static 'blog/logo.svg' %}" alt="logo"></a>
        <input type="text" class="effect" id="var" placeholder="Search movie here">
        <span class="focus-border"></span>
        {% if user.is_authenticated %}

            <a href="{% url 'logout' %}" style="color:red"><i class="bi bi-file-person"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg></i></a>
            <a href="{% url 'profile' %}">profile</a>
        {% else %}
            <a href="{% url 'login' %}"><i class="bi bi-file-person"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg></i></a>

        {% endif %}

        </nav>

        <h1>STREAM ALL THE POPULAR <br> MOVIES ON THE GO</h1>
        <span> </span>
        <a href="{% url 'register' %}" class="btton" id="har">GET STARTED</a>
    </div>
    <div class="mid">
    <div class="container" id="out">
      <div class="row">
        <h5>BLOCKBUSTER HITS</h5>
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <img src="{% static 'blog/money-heist-2-1200.jpg' %}">

            <span id = heart1><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>

            <a href="#"><h6> MONEY HEIST</h6></a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-3">
              <div class="card">
              <img src="{% static 'blog/sacred-games-season-2-netflix.jpg' %}">
                  <span id = heart2><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
              <a href="#"><h6>SACRED GAMES</h6></a>
              </div>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                <img src="{% static 'blog/Avengers-Endgame-Film-Review.jpg' %}">
                    <span id = heart3><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                <a href="#"><h6>AVENGERS END GAME</h6></a>
                </div>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-3">
                  <div class="card">
                  <img src="{% static 'blog/250px-Scam_1992_poster.png' %}">
                      <span id = heart4><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                  <a href="#"><h6>SCAM 1992</h6></a>
                  </div>

        </div>
        <div class="row">
          <h5>BLOCKBUSTER HITS</h5>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <img src="{% static 'blog/ext.jpg' %}">
                <span id = heart5><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
              <a href="#"><h6>EXTRACTION</h6></a>
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                <img src="{% static 'blog/Master_review_1200x768.jpeg' %}">
                    <span id = heart6><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                <a href="#"><h6>MASTER</h6></a>
                </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <div class="card">
                  <img src="{% static 'blog/Tenet_movie_poster.jpg' %}">
                      <span id = heart7><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                  <a href="#"><h6>TENET</h6></a>
                  </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="card">
                    <img src="{% static 'blog/87e99eb0661a04d5350105727ac3be23.jpg' %}">
                        <span id = heart8><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                    <a href="#"><h6>AVTAR</h6></a>
                    </div>

          </div>

      </div>
    </div>
  </div>
  <div class="bottom">
    <i class="bi bi-facebook"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
    </svg></a></i>
    <i class="bi bi-twitter"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
      <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
    </svg></a></i>
    <i class="bi bi-youtube"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
      <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
    </svg></a></i>
    <p>&copy; 2021 AlcherStream</p>
  </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'blog/script.js' %}"></script>
      </body>
      </html>
